body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}
body.video__body {
  height: 320vh;
}

* {
  box-sizing: border-box;
  transition: all 0.2s linear;
}

nav {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 100px;
}
nav .logo img {
  padding: 10px;
  float: left;
  border-radius: 60%;
  height: 90px;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
  font-family: sans-serif;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;

  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  padding: 7px 13px;

  text-decoration: none;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.active,
nav a:hover {
  background-color: orange;
  transition: 0.5s;
  border-bottom: none;
}
nav .links a:hover {
  color: white;

  background-color: orange;
}

.banner {
  background-image: url("flex\ \(5\).JPG");
  height: 100vh;
  background-size: cover;
  
  margin-top: 2%;
  margin: 0px;
}
.banner2 {
  background-image: url("in\ \(5\).JPG");
  height: 100vh;
  background-size: cover;
 background-position: center;
  margin-top: 2%;
  margin: 0px;
}

.banner3 {
  background-image: url("in\ \(8\).JPG");
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: 2%;
  margin: 0px;
}

.banner4 {
  background-image: url("shirt5.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: 2%;
  margin: 0px;
}

.banner5 {
  background-image: url("flex\ \(4\).JPG");
  height: 100vh;
  background-size: cover;

  margin-top: 2%;
  margin: 0px;
}

.banner6 {
  background-image: url("about\ \(1\).JPG");
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: 2%;
  margin: 0px;
}

.words {
  position: absolute;
  padding: 90px;
  bottom: 50px;
}
.words h2 {
  z-index: 1000 !important;
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 40px;
}

.words p {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 7%;
}

.container {
  display: flex;
  margin-left: 3%;
  min-height: 9vh;
  text-decoration: none;
}

.container button {
  height: 35px;
  width: 150px;
  background: #333;
  color: rgb(236, 223, 223);
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.container button:hover {
  opacity: 0.8;
}

/* Daniel Bwalya styles */

.header__fade {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.1)
  );
}

/* end of bwalyas styles */

/* start of cards  */

.box-container {
  min-height: 80vh;
  background: url("flex\ \(1\).JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.box-container .box {
  height: 400px;
  width: 300px;
  border: 8px sold #fff;
  box-shadow: 0 5px 5px #000;
  overflow: hidden;
  margin: 20px 15px;
 
}

.box-container .box img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  filter: grayscale();
 
}
.box-container .box:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
  cursor: pointer;
}
.box-container .box .info {
  text-align: center;
  background: #fff;
  position: relative;
  bottom: 10px;
  width: 100%;
}

.box-container .box:hover .info {
  bottom: 60px;
  cursor: pointer;
}

.box-container .box .info .card-title {
  padding: 10px 0;
  font-size: 20px;
  color: #333;
  text-transform: capitalize;
}

.box-container .box .info .post {
  font-size: 15px;
  color: #999;
}
.box-container .box .info .media {
  margin-top: 10px;
  border-top: 1px solid #4444;
}

.box-container .box .info .media a {
  font-size: 20px;
  margin: 20px 10px;

  text-decoration: none;
  color: #333;
}

.box-container .box .info .media a:hover {
  color: #999;
}
/* end of the cards */

/* video adverts */

/* video advert */

.video-advert {
  position: relative;
  height: 100vh;
}
.video-advert > video {
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.vid-text {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 360px;
  border: 8px sold #fff;
  box-shadow: 0 5px 5px #000;
  background-color: #000;
  opacity: 0.9;
  overflow: hidden;
  margin: 20px 15px;
  flex-wrap: wrap;
}
.video-advert a {
  position: absolute;
  bottom: 120px;
  left: 30%;
}

.vid-text h3 {
  margin: 30px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.vid-text p {
  line-height: 23px;
  margin: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  color: #fff;
}

.vid-container {
  padding: 100px;
  display: flex;
  margin-left: 3%;
  min-height: 9vh;
  text-decoration: none;
}

.vid_btn-container button {
  height: 35px;
  width: 150px;
  background: rgb(63, 62, 62);
  color: orange;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
*/ .vid_btn-container button:hover {
  opacity: 0.8;
}

/* this the begining of the Album css  */

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box img {
  margin-top: 5%;
  cursor: pointer;
  height: 200px;
  transition: all ease 0.2s;
  border-radius: 15px;
  flex-wrap: wrap;
}

.first_images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

.album-start {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 50px;
}



.second_images {
  display: flex;

  margin: 10px;
}
.box2 img {
  margin-top: 10%;
  cursor: pointer;
  height: 200px;
  transition: all ease 0.2s;
  border-radius: 15px;
  display: block;
}



.vid-text2 {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 360px;
  border: 8px sold #fff;
  box-shadow: 0 5px 5px #000;
  background-color: #000;
  opacity: 0.9;
  overflow: hidden;
  margin: 20px 15px;
  flex-wrap: wrap;
}

.vid-text2 h3 {
  margin: 30px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.vid-text2 p {
  line-height: 23px;
  margin: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  color: #fff;
}

.vid-container2 {
  padding: 70px;
  display: flex;
  margin-left: 10%;
  min-height: 9vh;
  text-decoration: none;
}

.vid_btn-container2 button {
  height: 35px;
  width: 150px;
  background: rgb(63, 62, 62);
  color: orange;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.vid_btn-container button:hover {
  opacity: 0.8;
}

/* footer */
.footer {
  /* background-image: url('../images/Album Artwork/blue\ \(2\).JPG'), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)); */
  height: 70vh;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  bottom: 0;
  background: #111;
}
.footer > img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  filter: brightness(30%);
}
.footer__left {
  position: absolute;
  width: 30%;
  left: 0;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}
.footer__right {
  position: absolute;
  right: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 100%;
  padding-right: 100px;
}
.footer__right > ul {
  margin-top: 80px;
}
.footer__right li {
  color: #aaa;
  list-style: none;
  padding: 10px 20px;
  font-size: 13px;
}
.footer__left > img {
  z-index: 100;
  height: 85px;
  max-width: 85px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 50px;
}
.footer__container {
  display: flex;
  height: 100%;
  width: 100%;
}
.footer__left > img {
  height: 60px;
}
.footer__social-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}
.footer__social-icons > .svg-inline--fa {
  cursor: pointer;
  font-size: 22px;
  color: orange;
  transition: 0.1s ease-in-out;
}
.footer__social-icons > .svg-inline--fa:hover {
  color: #fff;
}
.footer__left h3 {
  margin-top: 20%;
  margin-left: 50px;
}

.footer__bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  width: 100%;
  bottom: 20px;
}

.adverts__container {
  height: 100vh;
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adverts__container > h1 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 4rem;
}
.adverts__container > a {
  text-decoration: none;
  color: #fff;
  background: orange;
  font-size: 1rem;
  padding: 0.8rem 2.2rem;
  border-radius: 60px;
  transition: all 0.3s ease;
}
.adverts__container > a:hover {
  padding: 0.8rem 2.8rem;
}

/* Daniel Bwalya - video section styles */
nav.nav__main {
  position: fixed;
  background: rgba(17, 17, 17, 0.801);
  z-index: 1000;
}
.videos__header {
  width: 100%;
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videos__header > h1 {
  background: linear-gradient(to right, #141e30, #243b55);
  font-size: 52px;
  font-family: sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.embed__container {
  z-index: 100;
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  margin: 4rem;
  margin-left: 2rem;
}
.orange__overlay {
  position: absolute;
  z-index: -2;
  left: 20%;
  top: -20%;
  background: rgb(255, 197, 89);
  height: 400vh;
  width: 200%;
  border-radius: 50%;
}
.orange__overlay.two {
  bottom: -50% !important;
  right: -50%;
}

.embed__container > iframe {
  height: 300px;
  width: 300px;
  flex-grow: 1;
}
.videos__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.videos__form-box {
  background: #fff;
  height: 600px;
  width: 40%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input__container > input {
  border: none;
  outline: none;
  width: 100%;
}
.input__container > input::placeholder {
  font-size: 11px;
}
.input__container {
  border: 1px solid #aaa;
  margin-bottom: 20px;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: 75%;
}
.input__container > img {
  height: 15px;
  margin-right: 10px;
}

.videos__form-box > h3 {
  font-size: 20px;
  color: orange;
}
.videos__form-box > button {
  padding: 0.938rem 4rem;
  border: none;
  border-radius: 50px;
  background: orange;
  color: #fff;
  cursor: pointer;
  margin: 20px;
}
.videos__input-more-details {
  border: 1px solid lightgray;
  height: 200px;
  width: 80%;
  padding: 1rem;
  border-radius: 20px;
}
/* responsive */

@media screen and (max-width: 1024px) {
  .vid-text {
    top: 40%;
    width: 50%;
    height: 60%;
  }
}
@media screen and (max-width: 800px) {
  .videos__form-box {
    width: 55%;
  }
  .videos__header > h1 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 790px) {
  .vid-text {
    top: 35%;
    width: 50%;
    height: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* gifts */
  .vid-text {
    top: 35%;
    width: 50%;
    height: 60%;
  }
  .vid-text a {
    left: 30%;
  }
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 95px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #000;
    opacity: 0.8;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    z-index: 2000;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  .header__fade {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.66),
      rgba(0, 0, 0, 0.3)
    );
  }
  .videos__header > h1 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 720px) {
  .vid-text {
    top: 30%;
    width: 50%;
    height: 60%;
  }
  .vid-text a {
    left: 25%;
  }
}
@media screen and (max-width: 698px) {
  /* gifts */
  .vid-text {
    top: 30%;
    width: 50%;
    height: 60%;
  }
  .words {
    bottom: 30%;
    padding: unset;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 680px) {
  .vid-text {
    top: 29%;
    width: 75%;
    height: 50%;
  }
  .videos__form-box {
    width: 70%;
  }
  .vid-text a {
    left: 34%;
  }
  @media screen and (max-width: 630px) {
    .vid-text p {
      font-size: 13px;
    }
    .vid-text a {
      bottom: 25px;
    }
  }

  @media screen and (max-width: 500px) {
    /* gifts */
    .vid-text {
      top: 40%;
      width: 50%;
      height: 60%;
    }
    .words {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100% !important;
    }
    .words > h2 {
      font-size: 1.8rem;
      width: 100%;
      display: block;
    }
    .words > p {
      margin: auto;
      margin-top: 30px;
      width: 100%;
    }
    .words > .container {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 40px;
      margin-left: unset !important;
    }
    .videos__form-box {
      width: 90%;
    }
  }
  @media screen and (max-width: 620px) {
    .vid-text {
      top: 25%;
      width: 75%;
      height: 50%;
    }
  }
  @media screen and (max-width: 567px) {
    .vid-text {
      top: 23.5%;
      width: 75%;
      height: 50%;
    }
  }
  @media screen and (max-width: 550px) {
    .vid-text {
      top: 23%;
      width: 50%;
      height: 60%;
    }
    .vid-text a {
      left: 20%;
      bottom: 10px;
    }
    .videos__header > h1 {
      font-size: 2rem;
    }
    .footer__right {
      height: 40vh !important;
      bottom: 120px;
      width: 100%;
      padding: unset;
      justify-content: center !important;
    }
    .footer__left {
      height: 20vh !important;
      top: 0;
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
    .footer__left h3 {
      margin-top: 78px;
    }
    .footer__social-icons {
      margin-top: 45px;
    }
  }

  @media screen and (max-width: 480px) {
    .vid-text {
      top: 19% !important;
      width: 50%;
      height: 70%;
    }
    .vid-text a {
      bottom: 50px;
    }
    .footer__right {
      transform: scale(0.8);
    }
  }
  @media screen and (max-width: 468px) {
    .vid-text a {
      bottom: 20px;
    }
  }
  @media screen and (max-width: 540px) {
    /* gifts */
    .vid-text {
      top: 20% !important;
      width: 90%;
      height: 50%;
      background: none;
      box-shadow: none;
    }
    .vid-text a {
      bottom: 50px;
      left: 28%;
    }
    video {
      filter: brightness(30%);
    }
    /* .vid-container{
		padding: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	} */
  }
  @media screen and (max-width: 442px) {
    /* .vid-text2 { */
    /* top: 10%;
    } */
  }
  @media screen and (max-width: 440px) {
    .videos__header > h1 {
      font-size: 1.8rem;
    }
    .vid-text a {
      bottom: 120px;
      left: 28%;
    }
  }
  @media screen and (max-width: 420px) {
    /* .vid-text2 { */
    /* transform: scale(0.9);
      left: 0;
      top: 18%;
    } */
  }
  @media screen and (max-width: 414px) {
    .vid-text {
      top: 45%;

      height: 4%;
    }
    .vid-text p {
      display: none;
    }

    .vid-container {
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .videos__header > h1 {
      font-size: 1.4rem;
    }
  }

  @media screen and (max-width: 380px) {
    .footer__left > img {
      height: 50px;
      margin-left: 10px;
    }
    .footer__left h3 {
      font-size: 13px;
    }
    .footer__social-icons .svg-inline--fa {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 375px) {
    .vid-text {
      top: 46%;
      height: 3%;
      margin: 0;
    }
    /* .vid-text2 { */
    /* transform: scale(0.7);
      left: -25px;
    } */
    .video-advert > video {
      filter: unset;
    }
    .vid-text p {
      display: none;
    }

    .vid-container {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .words h2 {
      font-size: 26px;
    }
    .words p {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 350px) {
    .footer__right {
      left: 0;
      justify-content: unset;
    }
    .footer__right ul > h3 {
      font-size: 12px;
      margin-left: 20px;
    }
    .footer__right ul > li {
      margin: auto;
    }
    .footer__bottom {
      bottom: 50px;
      transform: scale(0.8);
    }
    .footer__bottom > span {
      font-size: 13px;
    }
    .video-advert {
      height: 40vh;
    }
  }

  @media screen and (max-width: 320px) {
    .vid-text {
      top: 45%;

      height: 3%;
      margin: 0;
    }
    .vid-text p {
      display: none;
    }

    .vid-container {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

/* about page */
.about_sec {
  height: 30vh;
}

.about_text1 {
  margin: 20px;
  align-items: center;
  justify-content: center;
}
.about_text1 h1 {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}
.about_text1 p {
  text-align: center;
  font-family: sans-serif;
  font-size: 17px;
}
.image_breaker {
  background-image: url("../images/about images/about\ \(7\).JPG");

  background-size: cover;
  height: 80vh;
}
